html, body {
    height: 100%;
}

body {
    margin: 40px;
    overflow: hidden;
}

#vid {
    position: absolute;
    width: 100%;
    z-index: -1;
}

#content {
    width: 100%;
    height: 76%;
    text-align: center;
}

#history {
    width: 1165px;
    height: 313px;
    overflow-y: hidden;
    box-sizing: border-box;
    border: 10px solid darkslategrey;
    display: flex;
    flex-direction: column-reverse;
    float: right;
    position: absolute;
    top: 677px;
    left: 683px;
    opacity: 0.8;
}

#history, #nav, #res, #msg {
    background-color: black;
}

#request, #response, #notify {
    width: 33.3%;
    height: 100%;
}

#request {
    float: left;
}

#response {
    display: inline-block;
}

#notify {
    float: right;
}

.log {
    word-break: break-all;
    border-bottom: 1px solid black;
}

#qresp, #qrmsg {
    width: 396px;
    height: 396px;
    background-color: white;
}

#qrnav {
    width: 160px;
    height: 160px;
    background-color: white;
}

#nav, #res, #msg {
    box-sizing: border-box;
    border: 10px solid darkslategrey;
    color: white;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
    position: absolute;
    width: 613px;
    height: 240px;
    left: 70px;
}

#nav {
    top: 270px;
}
#res {
    top: 510px;
}
#msg {
    top: 750px;
}

pre {
    white-space: pre-wrap;
    font-size: medium;
}

.line, .line-focus {
    font-size: large;
    white-space: nowrap;
}

#group {
    width: 30%;
    font-weight: bold;
    color: orange;
    background-color: black;
}

#spacer {
    height: 30px;
}

.line {
    color: white;
    background-color: black;
}

.line-focus {
    background-color: darkslategrey !important;
}

#group, #schema-request, #schema-response, #schema-notify, #schema-response2 {
    position: fixed;
    text-align: center;
    height: 29px;
    font-size: x-large;
}

#schema-request {
    width: 16%;
}

#schema-response {
    width: 16%;
    left: 18.4%;
}

#schema-notify, #schema-response2 {
    width: 30.3%;
}

#schema-notify::first-letter {
    text-transform: capitalize;
}

pre {
    margin-top: 40px;
}
