html, body {
    height: 100%;
}

body {
    margin: 40px;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 76%;
    text-align: center;
}

#history {
    width: 100%;
    height: 17%;
    overflow-y: hidden;
    box-sizing: border-box;
    border: 10px solid darkslategrey;
    display: flex;
    flex-direction: column-reverse;
}

#content, #history {
    background-color: black;
}

#request, #response, #notify {
    width: 33.3%;
    height: 100%;
}

#request {
    float: left;
}

#response {
    display: inline-block;
}

#notify {
    float: right;
}

.log {
    word-break: break-all;
    border-bottom: 1px solid black;
}

#qrnav, #qresp, #qrmsg {
    width: 400px;
    height: 400px;
    background-color: white;
}

#nav, #res, #msg {
    box-sizing: border-box;
    border: 10px solid darkslategrey;
    color: white;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
    font-size: large;
    width: 100%;
    height: 417px;
}

pre {
    white-space: pre-wrap;
}

#group, .line, .line-focus {
    font-size: xx-large;
}

#group {
    position: fixed;
    width: 30.9%;
    font-weight: bold;
    color: orange;
    text-align: center;
    background-color: black;
}

#spacer {
    height: 40px;
}

.line {
    color: white;
    background-color: black;
}

.line-focus {
    background-color: darkslategrey !important;
}

#schema-request, #schema-response, #schema-notify {
    height: 40px;
    position: fixed;
    text-align: center;
    font-size: xx-large;
}

#schema-request {
    width: 15%;
}

#schema-response {
    width: 15.85%;
    left: 49.55%;
}

#schema-notify {
    width: 30.85%;
}

pre {
    margin-top: 40px;
}
